
<h1>Who To Follow</h1>
<ul>
<% @users.each do |user| %>
  <% unless current_user == user || current_user.followers.include?(user) %>
  <li class="each_user_index row">
   <%= link_to user do %>
    <div class="user_index">
    <img class="user_index_image" src="<%= user.profile_photo_url%>">
    <%= user.username %>
    <% end %>
    <%= button_to "Follow", user_follow_path(user) , class: 'btn user_index_follow'%>
    </div>
  </li>
  <% end %>
<% end %>
</ul>
