/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.

 *= require twitter-bootstrap-static/bootstrap
 *= require_self
 *= require chosen
 *= require_tree .
 */

body {
  font-family: Helvetica;
  background-image: url('http://subtlepatterns.com/patterns/green_dust_scratch.png')
}

a {
  text-decoration: none;
  font-family: Helvetica;
}

a:hover {
text-decoration: none;
opacity: .8;
}

.display-me {
  display: block !important ;
}

.hide-me {
  display: none;
}

.input-error {
  display: inline-block;
  background-color: orange;
}


/*SIGN UP */


.tweet-modal form {
  padding: 50px;
}
