/*HOME LAYOUT*/


/*HOME NAV*/
#home_nav{
  background-color: whitesmoke;
}

img.nav_icon{
  max-width: 30px !important;
}

/*HOME LEFT SIDEBAR*/

.left_sidebar {
  min-width: 290px;
  max-width: 290px;
  display: inline-block;
  vertical-align: top;
}

.sidebar {
  padding: 15px;
}

/*USER INFO*/
.home_user_info, .sidebar {
  background-color: whitesmoke;
  border-radius: 6px;
  margin-bottom: 10px;
}

.home_user_info a {
  color: black;
}

.bg_photo {
  height: 96px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
  .bg_photo + div {
    margin-left: 10px;
  }
  .bg_photo + div img {
    margin-top: -30px;
    height: 70px;
    width: 70px;
    border: solid 1px whitesmoke;
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 6px;
  }
  .bg_photo + div p {
    display: inline-block;
  }

  /*USER STATS*/
  #home_sidebar_user_stats{
    background-color:whitesmoke;
    text-align: center;
  }

    #home_sidebar_user_stats li {
      list-style: none;
      display: inline-block;
      text-transform: uppercase;
      padding: 5px;
    }

  .numbers {
    font-weight: bold;
    font-size: 23px;
    color: green;
  }

  .num_link {
    font-size: 13px;
  }

  /*USER INFO TWEET BOX*/
  #tweet_box {
    background-color: rgb(188,235,222);
    height: 70px;
    padding: 5px;
    border-radius: 0 0 6px 6px;
  }

  input#tweet_content {
   text-align: center;
    padding: 8px;
    width: 100%;
  }

  input[value="Meow!"] {
    float: right;
    margin: 0 10px 0 0;
  }

  p#charCount {
    display: inline-block;
    margin: 9px 0 0 170px;
  }

/*WHO TO FOLLOW*/
.who_to_follow_info {
  display: inline-block;
  max-height: 48px;
  margin-bottom: 10px;
}
  .who_to_follow p {
    display: inline;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
    .who_to_follow p a {
      color: #B6BBBA;
    }

  .who_to_follow img {
    height: 48px;
    width: 48px;
  }

  .who_to_follow form {
    display: inline-block;
  }

.follow {
  display: inline-block;
}

.follow form div .btn {
  width: 80px;
  height: 25px;
  line-height: initial;
}

.sidebar_footer {
  color: #B6BBBA
}


/*MAIN CONTENT RIGHT SIDEBAR*/

.main_content {
  width: 590px;
  display: inline-block;
  margin-left: 7px;
  vertical-align: top;
  background-color: whitesmoke;
  border-radius: 6px;
  padding: 0 12px;
  margin-bottom: 30px;
}

/*TWEETS*/

.retweet_notice {
  margin: 0 0 0 24px;
  color: #CB9283;
  font-size: 13px;
}
  .retweet_notice i {
    background-color: rgb(188,235,222);
    border-radius: 5px;
    padding: 2px;
    font-size: 13px;
    color: whitesmoke;
  }

.each_tweet {
  max-height: 90px;
  padding: 9px 12px 0 12px;
  margin: 0;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
  .user_photo {
    height: 50px;
    width: 50px;
    display: inline-block;
    vertical-align: top;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .tweet_info{
    display: inline-block;
    width: 87%;
    margin: 0 0 0 5px;
    max-height: 50px;
  }
    .tweet_info p {
      margin: 0;
    }
  .tweet_actions {
    text-align: right;
  }
    .tweet_actions li a {
      color: #CDC0BD;
      font-size: 11px;
    }
    .tweet_actions li, .tweet_actions li.view a {
      color: #CB9283;
      font-size: 11px;
      display: inline-block;
    }

  .tweet_content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.username {
  font-weight: bold;
}

  .username + a::after {
    content: "\00b7";
  }

.tweet-display-photo, .embedly-embed {
  display: none;
}

.expanded-tweet {
  max-height: 300px !important;
}

  .expanded-tweet img, .expanded-tweet iframe {
    display: block;
    max-width: 80%;
    max-height: 200px;
  }

.list-inline>li.collapse {
  display: inline-block;
  display: none;
}
