/*USER STATIC LAYOUT*/

.user_profile {
  padding: 0;
}
.user_profile li{
  list-style:none;
  border-bottom: solid 1px gray;
  padding: 10px;
  font-size: 16px;

}

/*USER INDEX LAYOUT*/
.user_index {
  display: inline-block;
}
.user_index_image {
  max-width: 50px;
  max-height: 50px
}

button.user_index_follow {
  background: none;
}

/*USER TWEET BOX*/
#tweet-content-text {
  width: 100%;
  overflow: scroll;
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid gray;
  font: medium -moz-fixed;
  font: -webkit-small-control;
  padding: 2px;
  background-color: white;
  resize: none;
}

.enlarge-form-input {
  height: 150px !important;
}

#meow_btn {
  margin: -100px 0 0 -50px;
}
